<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changyou.manager.hr.hc.plan_data.dao.HcPlanDataMapper" >
  <resultMap id="BaseResultMap" type="com.changyou.manager.hr.hc.plan_data.model.HcPlanData" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="PLAN_DATA_ID" property="planDataId" jdbcType="DECIMAL" />
    <result column="PLAN_ID" property="planId" jdbcType="DECIMAL" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="DEPT_SHORT_NAME" property="deptShortName" jdbcType="VARCHAR" />
    <result column="DEPT_FULL_NAME" property="deptFullName" jdbcType="VARCHAR" />
    <result column="DEPT_FULL_CODE" property="deptFullCode" jdbcType="VARCHAR" />
    <result column="DEPT_PARENT_CODE" property="deptParentCode" jdbcType="VARCHAR" />
    <result column="DEPT_LEVEL" property="deptLevel" jdbcType="DECIMAL" />
    <result column="DEPT_LEAD_CODE" property="deptLeadCode" jdbcType="VARCHAR" />
    <result column="DEPT_LEAD_NAME" property="deptLeadName" jdbcType="VARCHAR" />
    <result column="DEPT_LEAD_POST_NO" property="deptLeadPostNo" jdbcType="VARCHAR" />
    <result column="DEPT_LEAD_POST_NAME" property="deptLeadPostName" jdbcType="VARCHAR" />
    <result column="DEPT_FINANCE_NO" property="deptFinanceNo" jdbcType="VARCHAR" />
    <result column="HRBP" property="hrbp" jdbcType="VARCHAR" />
    <result column="PM" property="pm" jdbcType="VARCHAR" />
    <result column="ACCESS_MANAGER" property="accessManager" jdbcType="VARCHAR" />
    <result column="DELETED" property="deleted" jdbcType="DECIMAL" />
    <result column="CY_HC" property="cyHc" jdbcType="DECIMAL" />
    <result column="SX_HC" property="sxHc" jdbcType="DECIMAL" />
    <result column="CP_HC" property="cpHc" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATER_CODE" property="updaterCode" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATER_CODE" property="createrCode" jdbcType="VARCHAR" />
  </resultMap>
</mapper>