<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changyou.manager.hr.kpi.assess_oa.dao.KpiAssessOaMapper" >
  <resultMap id="BaseResultMap" type="com.changyou.manager.hr.kpi.assess_oa.model.KpiAssessOa" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ASSESS_ID" property="assessId" jdbcType="DECIMAL" />
    <result column="REQUEST_ID" property="requestId" jdbcType="VARCHAR" />
    <result column="FORM_TYPE" property="formType" jdbcType="VARCHAR" />
    <result column="FORM_STATUS" property="formStatus" jdbcType="VARCHAR" />
    <result column="OPINION" property="opinion" jdbcType="VARCHAR" />
  </resultMap>
</mapper>