<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changyou.manager.hr.source_month.dao.HrSourceMonthMapper" >
  <resultMap id="BaseResultMap" type="com.changyou.manager.hr.source_month.model.HrSourceMonth" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="FILE_ID" property="fileId" jdbcType="VARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="DECIMAL" />
    <result column="UPLOADER_CODE" property="uploaderCode" jdbcType="VARCHAR" />
    <result column="UPLOAD_TIME" property="uploadTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>