<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changyou.manager.hr.kpi.form_data.dao.KpiFormDataMapper" >
  <resultMap id="BaseResultMap" type="com.changyou.manager.hr.kpi.form_data.model.KpiFormData" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ASSESS_OA_ID" property="assessOaId" jdbcType="VARCHAR" />
    <result column="INDICATOR_ITEM" property="indicatorItem" jdbcType="VARCHAR" />
    <result column="INDICATOR_DEFINITION" property="indicatorDefinition" jdbcType="VARCHAR" />
    <result column="HISTORICAL_DATA" property="historicalData" jdbcType="VARCHAR" />
    <result column="STANDARD" property="standard" jdbcType="VARCHAR" />
    <result column="CHALLENGE" property="challenge" jdbcType="VARCHAR" />
    <result column="WEIGHTS" property="weights" jdbcType="DECIMAL" />
    <result column="NEW_SOURCE" property="newSource" jdbcType="VARCHAR" />
    <result column="UPDATE_REASON" property="updateReason" jdbcType="VARCHAR" />
    <result column="IS_UPDATE" property="isUpdate" jdbcType="VARCHAR" />
    <result column="DATA_BELONG" property="dataBelong" jdbcType="VARCHAR" />
  </resultMap>
</mapper>