<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changyou.manager.hr.kpi.version_record.dao.KpiVersionRecordMapper" >
  <resultMap id="BaseResultMap" type="com.changyou.manager.hr.kpi.version_record.model.KpiVersionRecord" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ASSESS_OA_ID" property="assessOaId" jdbcType="DECIMAL" />
    <result column="CREATER_CODE" property="createrCode" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>